@import "tailwindcss";

@theme {
  --font-sans: "Geist", "Inter", "sans-serif";
  --font-mono: "Geist Mono", "JetBrains Mono", "monospace";
}

@layer base {
  body {
    @apply bg-white text-neutral-900 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
